@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap'); /*Fraunces (700)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap'); /*Montserrat (500,700)*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /*fonts*/
  --Fraunes: 'Fraunces', serif;
  --Montserrat: 'Montserrat', sans-serif;

  /* Coloring & Themes */
  --darkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comp-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  height: 450px;
  width: 600px;
  transition: all ease-in-out 0.35s;
  border-radius: 10px;
}

div {
  width: 300px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.child-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/assets/images/image-product-desktop.jpg');
}

/* Other side of the products card  */
.otherhalf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.otherhalf-container > * {
  padding: 0 30px 0 40px;
}

.otherhalf-container h5 {
  display: inline-block;
  color: var(--darkGrayishBlue);
  font-family: var(--Montserrat);
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 15px;
}

.otherhalf-container h1 {
  font-size: 32px;
  width: 300px;
  font-family: var(--Fraunes);
  color: var(--veryDarkBlue);
  margin-bottom: 20px;
}

.otherhalf-container p.text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: var(--Montserrat);
  color: var(--darkGrayishBlue);
  width: 300px;
}

.otherhalf-container .price {
  display: flex;
  font-size: 14px;
  justify-content: flex-start;
  font-family: var(--Montserrat);
  margin-bottom: 20px;
}

.price .boldprice {
  font-family: var(--Fraunes);
  font-size: 32px;
  color: var(--darkCyan);
  margin-right: 20px;
}

.price .smallprice {
  text-decoration: line-through;
  line-height: 40px;
  color: var(--darkGrayishBlue);
}

.add-price_btn {
  display: flex;
  background-color: var(--darkCyan);
  height: 100px;
  width: 220px;
  padding: 15px 30px 15px 40px;
  align-self: center;
  border-radius: 10px;
  color: var(--white);
  justify-content: center;
  transition: background-color ease-in-out 0.35s;
}

.add-price_btn:hover {
  background-color: rgb(29, 66, 53);
}

.add-price_btn svg {
  margin-right: 15px;
}

.add-price_btn p {
  font-family: var(--Montserrat);
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .comp-container {
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 713px;
    width: 350px;
    flex-direction: column;
    transition: all ease-in-out 0.35s;
    margin-top: 30px;
    border-radius: 10px;
  }
  div {
    width: 350px;
    height: 100%;
    /* display: inline-block; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .child-img {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/images/image-product-mobile.jpg');
  }
  .otherhalf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .otherhalf-container > * {
    padding: 0 30px 0 20px;
  }
  .otherhalf-container h5 {
    letter-spacing: 4px;
    font-weight: 500;
  }

  .otherhalf-container h1 {
    font-size: 32px;
    padding: 0;
    padding: 0 20px;
    width: 100%;
  }

  .otherhalf-container p.text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    font-family: var(--Montserrat);
    color: var(--darkGrayishBlue);
    width: 100%;
    padding-right: 35px;
  }

  .otherhalf-container .price {
    display: flex;
    font-size: 14px;
    justify-content: flex-start;
    font-family: var(--Montserrat);
    margin-bottom: 20px;
    height: 40px;
  }

  .price .boldprice {
    font-family: var(--Fraunes);
    font-size: 32px;
    color: var(--darkCyan);
    margin-right: 20px;
  }

  .price .smallprice {
    text-decoration: line-through;
    line-height: 40px;
    color: var(--darkGrayishBlue);
  }

  .add-price_btn {
    display: flex;
    background-color: var(--darkCyan);
    height: 50px;
    width: 85%;
    padding: 15px 30px 15px 40px;
    align-self: center;
    border-radius: 10px;
    color: var(--white);
    justify-content: center;
    transition: background-color ease-in-out 0.35s;
  }
}
